@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }
  
  /* Set the color of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #666666;
  }
  
  /* Set the color of the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f500;
  }
  

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    line-height: 1;
}

body{
    scroll-behavior: smooth;
    background: whitesmoke;
    color: rgb(10, 10, 10);
}